<div class="card card-body">
<table class="table">
  <thead>
    <tr>
      <th><h6>Title</h6></th>
      <th><h6>Description</h6></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @planets.each do |planet| %>
      <% if(planet.user_id == current_user.id) %>
        <tr>        
          <%# Details %>
          <td><h6><%= planet.name %></h6></td>
          <td><p><%= planet.description %><p></td>

          <%# Actions %>   
          <td><a class="btn btn-outline-warning" href=<%= edit_planet_path(planet.id) %> role="button">Edit</a></td>            
          <td><%= button_to('Destroy', destroy_planet_path(planet.id), class: "btn btn-outline-danger", method: "delete",
            data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<a class="btn btn-success" href=<%= new_planet_path %> role="button">New planet</a>