<%if(@is_user == true)%>
  <h2>Your Profile</h2>
  <p><%= link_to "Edit Profile", edit_profile_path(@profile.id) %> - <%= link_to 'Delete Account', user_registration_path, method: :delete if user_signed_in? %> </p>
  <h3>Username: <%= @profile.username %></h3>
<%else%>
  <h2><%= @profile.username %>'s Profile</h2>
<%end%>

<%= image_tag @profile.picture if @profile.picture.attached? %>
<h3>Full Name: <%= @profile.name %></h3>
<h3>Bio</h3>
<p><%= @profile.bio %></p>
<br>

<%if(@is_user == true)%>
  <h3 class="listings-container-heading">Your Planets</h3>
  <%= render 'profiles/manipulate/planets', user: current_user, planets: @planets %>
  <br>
  <br>
  <h3 class="listings-container-heading">Your Current Listings</h3>
  <%= render 'profiles/manipulate/listings', user: current_user, listings: Listing.where(seller_id: @profile.user_id, sold: false) %>
  <br>
  <br>
  <h3 class="listings-container-heading">Your Purchases</h3>
  <%= render 'partials/display/cards/listings',
    listings: Listing.where(buyer_id: current_user) %>
  <br>
  <br>
  <h3 class="listings-container-heading">Your Past Listings</h3>
  <%= render 'partials/display/cards/listings', listings: Listing.where(seller_id: @profile.user_id, sold: true) %>
<%else%>
  <h3 class="listings-container-heading">Owned Planets</h3>
  <%= render 'profiles/display/planets', user: current_user, planets: @planets %>
  <br>
  <br>
  <h3 class="listings-container-heading">Current Listings</h3>
  <%= render 'partials/display/cards/listings', listings: Listing.where(seller_id: @profile.user_id, sold: false) %>
  <br>
  <br>
  <h3 class="listings-container-heading">Past Listings</h3>
  <%= render 'partials/display/cards/listings', listings: Listing.where(seller_id: @profile.user_id, sold: true) %>
  
<%end%>