<%if(@is_user == true)%>
  <h2>Your Profile</h2>
  <p><%= link_to "Edit Profile", edit_profile_path(@profile.id) %> - <%= link_to 'Delete Account', user_registration_path, method: :delete if user_signed_in? %> </p>
  <h3>Username: <%= @profile.username %></h3>
<%else%>
  <h2><%= @profile.username %>'s Profile</h2>
<%end%>

<%= image_tag @profile.picture if @profile.picture.attached? %>
<h3>Full Name: <%= @profile.name %></h3>
<h3>Bio</h3>
<p><%= @profile.bio %></p>

<%if(@is_user == true)%>
  <%= render 'manipulate_listings', user: current_user, listings: @listings %>
  <%= render 'manipulate_planets', user: current_user, planets: @planets %>
<%else%>
  <%= render 'display_listings', user: current_user, listings: @listings %>
  <%= render 'display_planets', user: current_user, planets: @planets %>
<%end%>