<h1><%= @listing.title %></p>
<h5>Seller: <%= link_to @seller.username, view_profile_path(@seller.id) %> </h5>
<h3>Description</h3>
<p><%= @listing.description %></p>

<h3>Planet: <%= @planet.name %></h3>
<%= image_tag @planet.picture if @planet.picture.attached? %>