<div class="card card-body">
<table class="table">
  <thead>
    <tr>
      <th><h6>Title</h6></th>
      <th><h6>Description</h6></th>
      <th><h6>Planets</h6></th>
      <th><h6>Price</h6></th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <% if(listing.sold == true) %>
        <% if(listing.buyer_id == @profile.user_id && listing.seller_id == @profile.user_id ) %>
          <tr>
          <%# Details %>
          <td><h6><%= link_to listing.title, view_listing_path(listing.id) %></h6></td>
          <td><h6><%= Profile.get_username(listing.buyer_id) %></h6></td>
          <td><p><%= listing.description %><p></td>
          <td><h6> <%= Planet.find_by(id: listing.planet_id).name %></h6></td>
          <td><p><%= listing.price.to_i %><p></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<a class="btn btn-success" href=<%= new_listing_path %> role="button">New listing</a>